@model BanDoGiaDung.Models.Account.ResetPassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4 shadow-sm">

                <h4 class="text-center text-primary fw-bold">🔑 Khôi phục mật khẩu</h4>

                @if (ViewBag.ThongBao != null)
                {
                    <p class="text-danger text-center">@ViewBag.ThongBao</p>
                }

                @using (Html.BeginForm())
                {
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger small" })
                    </div>

                    <button class="btn btn-primary w-100">Đổi mật khẩu</button>
                }
            </div>
        </div>
    </div>
</div>


