@model BanDoGiaDung.Models.AccountAddress
@{
    ViewBag.Title = "Thêm địa chỉ mới";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/Account/Dasbroad_Profile.css" rel="stylesheet" />


<div class="profile-container">
    @Html.Partial("Dasboard")
    <main class="profile-content">
        <h3 class="fw-bold mb-4">Thêm địa chỉ mới</h3>

        @using (Html.BeginForm("CreateAddress", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })



            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Tên người nhận</label>
                    @Html.TextBoxFor(m => m.accountUsername, new { @class = "form-control" })
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Số điện thoại</label>
                    @Html.TextBoxFor(m => m.accountPhoneNumber, new { @class = "form-control" })
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Tỉnh / Thành phố</label>
                    @Html.DropDownListFor(
        m => m.province_id,
        (SelectList)ViewBag.Provinces,
        "-- Chọn tỉnh/thành phố --",
        new
          {
         @class = "form-select",
         onchange = "this.form.submit();"  // Tự submit khi đổi tỉnh
        }
        )


                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Quận / Huyện</label>
                    @Html.DropDownListFor(
        m => m.district_id,
        (SelectList)ViewBag.Districts,
        "-- Chọn quận/huyện --",
        new
          {
         @class = "form-select",
         onchange = "this.form.submit();"  // Tự submit khi đổi huyện
        }
        )


                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Phường / Xã</label>
                    @Html.DropDownListFor(
        m => m.ward_id,
        (SelectList)ViewBag.Wards,
        "-- Chọn phường/xã --",
        new { @class = "form-select" }
        )


                </div>

                <div class="col-md-12 mb-3">
                    <label class="form-label">Địa chỉ chi tiết</label>
                    @Html.TextAreaFor(m => m.content, new { @class = "form-control", rows = 3 })
                </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-success">Lưu địa chỉ</button>
            </div>
        }
    </main>
</div>
<style>
    .form-actions {
        display: flex;
        gap: 10px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
    }
</style>
