<aside class="sidebar">
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li>
                <a href="@Url.Action("EditProfile","Account")"
                   class="nav-link btn-green @(ViewContext.RouteData.Values["Action"].ToString() == "EditProfile" ? "active" : "")">
                    <i class="bi bi-person-circle me-2"></i> Thông tin Tài Khoản
                </a>
            </li>

            <li>
            <a href="@Url.Action("TrackingOrder","Account")"
               class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "TrackingOrder" ? "active" : "")">
                <i class="bi bi-bag-check me-2"></i> Lịch sử mua hàng
            </a>
        </li>

        <li>
            <a href="@Url.Action("ChangePassword","Account")"
               class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">
                <i class="bi bi-key me-2"></i> Đổi mật khẩu
            </a>
        </li>

            <li>
                <a href="@Url.Action("Address","Account")"
                   class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Address" ? "active" : "")">
                    <i class="bi bi-geo-alt me-2"></i> Sổ địa chỉ
                </a>
            </li>

            <li>
                <a href="@Url.Action("Logout","Account")" class="nav-link btn-logout">
                    <i class="bi bi-box-arrow-right me-2"></i> Đăng Xuất
                </a>
            </li>
        </ul>
    </div>
</aside>