@model BanDoGiaDung.Models.Account.RegisterViewModels
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h4 class="text-center fw-bold text-success mb-4">
                    ✨ Tạo tài khoản mới
                </h4>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text", @class = "form-control", placeholder = "Nhập Email" } })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
                    </div>

                    <div class="mb-3">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { type = "text", @class = "form-control", placeholder = "Họ và Tên" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger small" })
                    </div>

                    <div class="mb-3">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Mật khẩu" } })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger small" })
                    </div>

                    <div class="mb-3">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { type = "text", @class = "form-control", placeholder = "Số điện thoại" } })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger small" })
                    </div>

                    <div class="mb-3">
                        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Xác nhận mật khẩu" } })
                        @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger small" })
                    </div>


                    <button type="submit" class="btn btn-success w-100">Đăng ký</button>
                }

                <div class="text-center mt-3">
                    <a href="/Account/Login" class="small">🔙 Quay lại đăng nhập</a>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}